<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <li><a href="/resources">Explore Resources</a></li>
        <li><a href="/courses">Explore Courses</a></li>
        <li><a href="/publications">Explore Publications</a></li>
    </ul>


    <h1>Welcome to the Home Page!</h1>
    <p>Explore resources and courses using the navigation links.</p>
</body>
</html>